services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: spark_db
      POSTGRES_USER: spark_user_name
      POSTGRES_PASSWORD: spark_my_secret_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - BigDataFlink_network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - BigDataFlink_network

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    networks:
      - BigDataFlink_network

  jobmanager:
    build:
      context: .
      dockerfile: flink_job/Dockerfile
    container_name: jobmanager
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    volumes:
      - ./flink_job:/opt/flink/usrlib
    networks:
      - BigDataFlink_network

  taskmanager:
    build:
      context: .
      dockerfile: flink_job/Dockerfile
    container_name: taskmanager
    depends_on:
      - jobmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
    volumes:
      - ./flink_job:/opt/flink/usrlib
    networks:
      - BigDataFlink_network

  producer:
    build: ./producer
    container_name: producer
    depends_on:
      - kafka
    volumes:
      - ./исходные данные:/data
      - ./producer/producer.py:/app/producer.py
    networks:
      - BigDataFlink_network

volumes:
  postgres_data: 

networks:
  BigDataFlink_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16